<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tamara.smartangrybirds">

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Math"></activity>
        <activity android:name=".Minus"></activity>
        <activity android:name=".Multiply"></activity>
        <activity android:name=".Divide"></activity>
        <activity android:name=".alphabet"></activity>
        <activity android:name=".games"></activity>
        <activity android:name=".Plus" ></activity>
        <activity android:name=".movie" ></activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>